*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
img{
    height: 5%;
    width: 5%;
}
.container{
    display: flex;
    align-items: center;
    height: 40%;
    width: 60%;

    margin: 0% 20%;
}
.container2{
    margin: 0% 10%;
    align-items: center;
    width: 80%;
    display: flex;
    justify-content:center;
    height: 40%;

}
.container2 img{
    width: fit-content;
    height: fit-content;
}
.container3{
    width: 100%;
    text-align: center;
}
